<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %}Base{% endblock %}</title>
    <style>
        body {
            background-image: url({% static 'img/bg.jpg' %});
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
    <header class="header">
        {% block header %}{% endblock %}
    </header>

    <nav>
    {% block navbar %}
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li>
                {% if user.userprofile.status not in 'participant approving author' %}
                    <li><a href="{% url 'requests' %}">Заявки</a></li>
                {% endif %}
            </li>
            <li>
                <a href="#">Профиль</a>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                    {% else  %}
                        <li><a href="{% url 'login' %}">Войти</a></li>
                        <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    {% endblock %}
    </nav>

    {% block content %} {% endblock %}
</body>
</html>