{%  extends 'base/base.html' %}

{%  block title %}Вход в аккаунт{% endblock %}

{% block content %}
    <div class="container">
    <div class="row m-30">
        <div class="col"><h2 style="text-align: center;">Войти в аккаунт</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row m-10">
            <div class="col"></div>
            <div class="col-2"><label for="login">Логин:</label></div>
            <div class="col-4">{{ form.username }}</div>
            <div class="col"></div>
        </div>
        <div class="row m-10">
            <div class="col"></div>
            <div class="col-2"><label for="password">Пароль:</label></div>
            <div class="col-4">{{ form.password }}</div>
            <div class="col"></div>
        </div>
        <div class="row m-50">
            <div class="col d-flex justify-content-end"><input class="btn btn-outline-dark" type="submit" value="Войти"></div>
            <div class="col-7"><a href="{% url 'register' %}" class="btn btn-outline-dark">Зарегистрироваться</a></div>
        </div>
    </form>
</div>
{% endblock %}