* {
    font-family: 'Roboto', sans-serif;
}

a.become_author{
    display: inline-block;
    padding: 0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}
a.become_author:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
}
@media all and (max-width:30em) {
     a.become_author {
        display:block;
        margin:0.4em auto;
     }
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: flex-start;
}

.user_info {
    display: flex;
    flex-direction: column;
    border: 2px solid #707070;
    border-radius: 20px;
    padding: 20px 60px;
    margin-top: 15px;
    margin-right: 15px;
    color: #707070;
    max-width: 700px;
}

.title {
    display: flex;
    align-items: center;
}

.status {
    background-color: #2CCE27;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.request {
    background-color: #707070;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
}

.request > a {
    text-decoration: none;
    color: white;
}

input:not([type="submit"]) {
    padding: 5px 10px;
    border-style: none;
    border-radius: 20px;
}

input[type="submit"] {
    border-style: none;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    background-color: #707070;
}

p > a {
    text-decoration: none;
    border-style: none;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    background-color: #707070;
}

.decision {
    display: flex;
    align-self: center;
    margin-top: 50px;
}
.decision p {
    margin-right: 10px;
}

.accept {
    background-color: #008d3a;
}

.decline {
    background-color: #ad282b;
}

.section > a {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 30px;
}
