{% extends 'base/base.html' %}
{% load static %}
{% block title %}Проверка заявки{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% block content %}
    <div class="container">
        <div class="user_info">
            {% if material %}
                <div class="section">
                    <h2 class="section_name">Материал от {{ material.author.userprofile.profile_name }}   <a href="{% url 'readonly_profile' pk=material.author.id %}"><img height="15px" src="{% static 'img/profile-icon.png' %}" alt=""></a></h2>

                    <p style="font-weight: bold;">{{ material.title }}</p>
                    <p>{{ material.description }}</p>
                    <p><a href="{% url 'download' path=material.document.path %}">Скачать документ</a></p>
                    <p><a href="{% url 'download' path=material.presentation.path %}">Скачать презентацию</a></p>
                    <div class="decision">
                        <p><a  class="accept" href="
{% url 'consider' request_type='material' pk=material.id decision='accept'  %}">Принять</a></p>
                        <p><a  class="decline" href="
{% url 'consider' request_type='material' pk=material.id decision='decline' %}">Отклонить</a></p>
                    </div>
                </div>
            {% endif %}

            {% if author_request %}
                <div class="section">
                    <h2 class="section_name">Заявка от {{ author_request.author.userprofile.profile_name }}</h2>
                    <p>{{ author_request.cover_letter }}</p>
                    <div class="decision">
                        <p><a  class="accept" href="
{% url 'consider' request_type='author' pk=author_request.id decision='accept'  %}">Принять</a></p>
                        <p><a  class="decline" href="
{% url 'consider' request_type='author' pk=author_request.id decision='decline' %}">Отклонить</a></p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
