{% extends 'base/base.html' %}
{% load static %}

{% block title %}Username - профиль{% endblock %}
{% block css%}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% block content %}
    <div class="container">
        <div class="user_info">
            <div class="title">
                <h1>{{ profile.userprofile.profile_name }}</h1>
                <p class="status">{{profile.userprofile.get_status_display }}</p>
            </div>
            <div class="section">
                <p>E-Mail: {{ profile.email }}</p>
                <p>Город: {{ profile.userprofile.location }}</p>
                <p>Дата рождения: {{ profile.userprofile.birth_date }}</p>
            </div>
        </div>
    </div>
{% endblock %}